.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;

  @media only screen and (max-width: 480px) {
    padding: 5px 5px;
  }

  .navbar-logo {
    max-width: 100%;
    width: 200px;
  }

  .two-icons {
    display: flex;
    align-items: center;

    .sign-in-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: underline;
      }

      svg.svg-inline--fa.fa-circle-user {
        padding-right: 5px;
      }
      .sign-in-link {
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
        padding-right: 15px;
      }
    }
  }
  .sign-out-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    svg.svg-inline--fa.fa-right-from-bracket {
      margin-right: 0;
    }

    svg.svg-inline--fa.fa-circle-user {
      @media only screen and (max-width: 480px) {
        margin-right: 6px;
      }
    }

    p {
      font-weight: bold;
      padding-right: 5px;
      @media only screen and (max-width: 480px) {
        width: 87px;
        padding: 0;
        margin: 0;
        margin-right: 10px;
      }
    }
  }
}
